{%extends "padre.html" %}

{%block title%} Buscar-Producto {% endblock %}  

 {%block content%}
    <h2>Buscar-Producto</h2>
    <form method=='GET' action="{% url "Buscar_Producto" %}">
        <input type="text" name="nombre" placeholder="Buscar Producto..." value="{{ nombre }}">
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for pro in producto %}
            <li>{{producto.nombre}}</li>
        {% empty %}
            <li>No hay prodcutos disponibles</li>
        {% endfor %}
    </ul>
 {% endblock %}