{% extends "padre.html" %}

{% block content %}
    <div class="container mt-5">
        <h2>Sobre Supermercado Online</h2>
        <p>
            Bienvenido a Supermercado Online. 
            Aquí puedes encontrar una amplia variedad de productos frescos y de alta calidad, desde frutas y verduras hasta lácteos y panadería.
            Nuestro objetivo es ofrecerte una experiencia de compra conveniente y accesible desde la comodidad de tu hogar.
            Navega por nuestras categorías, agrega tus productos favoritos al carrito y disfruta de la comodidad de recibir tus compras directamente en tu puerta.
        </p>
    </div>
{% endblock %}